body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
}


a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #DCDCDC;
}

figcaption {
  font-size: 12px;
}

#featured-property p {
  width: 800px;
  color: red;
  text-align: center;
}

div {
  display: block;
  float: left;
  width: 25%;
  background-color: #FF3248
}


